/* mobile first */
body {
    margin:0px;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}
a {
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
hr {
  margin-top: 15px;
  margin-bottom: 15px;
}
h2 {
    text-align: center;
}
p {
  font-size: 18px;
}
li {
  font-size: 18px;
}
.bold {
    display:flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    font-weight: bold;
    white-space: nowrap;
}
.textleft {
    grid-column: 2/7;
}
.iconleft {
    grid-column: 1;
}
.textright {
    grid-column: 6/11;
}
.iconright {
    grid-column: 12;
}
.iconize{
  height: 40px;
  margin-top: 1rem;
  margin-left: 10px;
  margin-right: 5px;
}
.mail {
  font-size: 38px;
}
.search{
  margin-top:1rem;
}

.wrapper {
    display:grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 10px;
    grid-auto-rows: minmax(100px, auto);
}
.content {
    grid-row: 1;
    padding: 0 0px;
}
.rowflex {
    display: flex;
    align-items: center;
    flex-direction: row;
}
.row {
    display:flex;
    grid-template-columns: repeat(12, 1fr);
}

.rowright {
    display: flex;
    justify-content: flex-end;
}

/* menu */
.menu {
    position: sticky;
    top: 0;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
    grid-auto-rows: minmax(50px, auto);   
    background: #222;
}

.contain {
    display:grid;
    padding:10px 0;
    grid-column: auto;
    align-items: center;
}

.menu a {
    color: #9d9d9d;
    padding: 0px 10px;
    font-size: 18px;
    text-decoration: none;
    text-align: center;
}

#brand {
    display:grid;
    font-size: 22px;
    padding-left: 10px;
    grid-column: auto;
    align-items: center;
}

.menu a:hover { 
    color: #fff 
}

/* table */
td, 
th {
    border-bottom: 1px solid #ddd;
}

td {
    padding: 2px;
}

.lastcol {
    overflow-wrap: anywhere;
}

th {
    background: #f5f5f5
}

table {
    border: 1px solid #ddd;
    border-spacing: 0;
    border-radius: 3px;
}

/* tablet screen and up changes */
@media (min-width: 768px) {
    .wrapper {
        grid-template-columns: repeat(12, 1fr);
    }
    .content {
        grid-column:5/9;
    }
    /* put menu items on middle of screen */
    .menu {
        grid-template-columns: repeat(12, 1fr);
    }
    #brand {
        grid-column: 5;
    }
    /*.contain {
        grid-column:3/6;
    }*/
