body {
    margin:0px;
}
hr {
  margin-top: 15px;
  margin-bottom: 15px;
}
p {
  font-size: 18px;
}
li {
  font-size: 18px;
}
.iconize{
  height: 40px;
  margin-top: 1rem;
  margin-left: 10px;
  margin-right: 5px;
}
.mail {
  font-size: 38px;
}
.search{
  margin-top:1rem;
}

.wrapper {
    display:grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 10px;
    grid-auto-rows: minmax(100px, auto);
}

.content {
    grid-row: 1;
}

.row {
    display:grid;
    grid-template-columns: repeat(12, 1fr);
    grid-gap: 15px;
}

.row2 {
    grid-row:2;
}

/* menu */
.menu {
    position: sticky;
    top: 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    grid-auto-rows: minmax(50px, auto);   background: #222;
}

.contain {
    padding:10px 0;
}

.menu a {
    color: #9d9d9d;
    padding: 0px 10px;
    font-size: 18px;
    text-decoration: none;
    text-align: center;
}

#brand {
    font-size: 22px;
    padding-left: 10px;
}

.menu a:hover { 
    color: #fff 
}

@media (min-width: 768px) {
    .iconize{
        margin-top: 0px;
    }
    .wrapper {
        grid-template-columns: repeat(7, 1fr);
    }
    .content {
        grid-column:3/6;
    }
    /* put menu items on middle of screen */
    .menu {
        grid-template-columns: repeat(7, 1fr);
    }
    .contain {
        grid-column:3/6;
    }
