{% extends 'base.html' %}
  {% block description %}
  <meta name="description" content="OsmAnd Map file downloads">
  {% endblock %}
  {% block title %}
  <title>Downloads</title>
  {% endblock %}
  {% block css %}
  <link href="{{static}}/css/starter-template.css" rel="stylesheet">
  {% endblock %}
   {% block search %}
   {% endblock %}
   {% block content %}
     <div class="content">
     <h2>OSMAnd Map files supercharged with open address data</h2>
                <table class="table">
                <tr>
                 <th>File Name</th>
                 <th>Status</th>
                 <th>Last Modified</th>
                 <th>Size (MB)</th>
                </tr>
               {% for file in files_obf %}
               <tr>
                   <td><a href="{{static}}/downloads/{{file[0]}}">{{file[1]}}</a></td><td>{{file[2]}}</td><td>{{file[3]}}</td><td>{{file[4]}}</td>
               </tr>
               {% endfor %}
             </table>
     </div>
   {% endblock %}
   {% block js %}
   {% endblock %}
